body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #5a67d8, #805ad5, #ed64a6);
  background-size: 400% 400%;
  animation: gradientBG 12s ease infinite;
  color: white;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
